<h1>The Center - Home - Internal DB</h1>
<div class="nav">
  <div class="app" id="register" title="Register Attendees"><a class="register" href="/conferences">Register an Attendee</a></div>
  <div class="app" id="plan" title="Plan Conference"><a class="plan" href="/planner">Plan a conference</a></div>
</div>

<div class="debug">
  <div class="task" id="sync" title="Sync My Google Sheets"><%= link_to 'Google Sheet Sync', '/auth/google_oauth2' %></div>
</div>
