<h1>I want to</h1>
<div class="nav">
  <div class="app" id="register" title="Register Attendees"><a class="register" href="/conferences">Register an Attendee</a></div>
    <div class="app" id="plan" title="Plan Conference"><a class="plan" href="/planner">Plan a conference</a></div>
</div>
